@inherits LayoutComponentBase
@inject AuthState AuthState

<div class="page d-flex">
    @if (AuthState.IsAuthenticated)
    {
        <div class="sidebar bg-dark text-white">
            <NavMenu />
        </div>
    }

    <main class="@(AuthState.IsAuthenticated ? "flex-grow-1" : "w-100")">
        @if (AuthState.IsAuthenticated)
        {
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="text-dark">About</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }
}